@font-face {
  font-family: "Euclid";
  src: 
  url("../../public/assets/fonts/EuclidCircularB-Medium.woff2")  format("woff2"),
  url("../../public/assets/fonts/EuclidCircularB-Medium.woff") format("woff");
}

//цвета
$Yellow: #FFDF31;
$Black: #000000;
$Gray: #F5F5F5;
$White: #FFFFFF;
$LightGreen: #10C300;
$Red: #FF6666;
$DarkGrey: #B3B3B3;
//щрифты
$Fonts: "Euclid", sans-serif;

