@import "../../styles/variables";
@import "../../styles/mixins";

.wrapper__slider {
  position: relative;
  overflow-y: hidden;
  overflow-x: hidden;
  width: 100%;
  height: 400px;

  @media(max-width: 592px) {
    height: 590px;
    overflow-x: auto;
    display: flex;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.wrapper__content_button {
  background-color: $White;
  border-radius: 8px;
  display: inline-block;
  position: absolute;
  bottom: 48px;
  left: 165px;

    @media (max-width: 592px) {
      display: none;
    }

    @media (max-width: 1024px) {
      left: 62px;
    }

    @media (max-width: 768px) {
      left: 39px;
    }

    @media (max-width: 690px) {
      left: 0;
    }
}

.wrapper__button {
  padding: 13.5px 14px 13.5px 20px;
  background-color: hsla(0, 0%, 0%, 0);
  transition-duration: .3s;
  transition-property: opacity, background-color;
  transition-timing-function: linear;
  border-radius: 0 8px 8px 0;

  &_active {
    
    svg path {
      opacity: 0.2;
    }
  }

  &:hover {
    background-color: $Gray;
  }
}

.wrapper__button_left {
  padding: 13.5px 20px 13.5px 14px;
  position: relative;
  border-radius: 8px 0 0 8px;

  &::before {
    content: '';
    height: 28px;
    width: 1px;
    background-color: $Gray;
    position: absolute;
    bottom: 8px;
    left: 44px;
  }
}

