@import "./styles/variables";
@import "./styles/mixins";

* {
  box-sizing: border-box;
}

body {
  font-family: $Fonts;
  background-color: $White;
  margin: 0 auto;
  color: $Black;
}

button {
  font-family: $Fonts;
  cursor: pointer;
  border: 0;
  padding: 0;
}

h1, h2, h3, p {
  margin: 0
}

a{
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.ReactModal__Overlay {
  z-index: 2;
  background-color: rgb(12 11 11 / 47%) !important;

    .ReactModal__Content {
      border: 0 !important;
      border-radius: 8px !important;
      padding: 35px 35px 35px 95px !important;
    }
}

.acitve__header_head {
  @include fonts(24px, 500);
  line-height: 30.43px;
  margin-top: 0;
}


